
.maincard{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    flex: 1;
    height: 14rem;
    background-color: #fff;
     border-radius: 1rem;
}

.card{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    align-items: flex-start;
    
}
.card h3{
text-transform: capitalize;
font-size: 1.6rem;
font-weight: 400;

}
.card p{
   
    font-size: 1.4rem;
}

.card a{
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    
    
}
.card-right{
    padding:1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
}
.cardright i{
    color: #68020F;
    padding-right: 1rem;

    
}


.card-right .icon{
   display: flex;
   justify-content: flex-end;
   color: #68020F;
   font-size: 1.8rem
}
@media (max-width:48em) {
    .maincard{
       max-width: 40rem;
    }
    
}
@media(max-width:30em) {
  
    .maincard{

       
       flex: 1;
       
    }


   .card h3{
    padding-bottom: 1rem;
   }
   .card p{
    padding-bottom: 1rem;
   }
   
}
