
.product-form{
 margin-left: 25rem;
 padding-top: 8rem;
 
}

/* media queries for small devicess */
 @media(max-width:30em) {
  
    .productItem {

        display: flex;
        overflow-x: hidden;



    }

    .product-form {

        margin: 0;
        padding-top: 8rem;
        padding-left: 0rem;


    }
    
} 