.table-container{
    width: 100%;
    padding: 1rem;
   overflow: auto;
    background-color: #fff;
    border-radius: 0.8rem;
    margin-top: 6rem;
    
    
    
}

.tableList{
    width: 100%;
    overflow: auto;
    border-collapse: collapse;

}
tr{
    border-bottom:0.01rem solid #eef0f3;
}

.tableList  thead th{
   text-transform: capitalize;
   color: #68020F;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
    text-align: start;
    padding: 1.5rem;
}
tbody td{

    padding: 1rem 1.5rem ;
    font-size: 1.6rem;
    text-transform: capitalize;
    
   
}

@media (max-width:30em) {
    .table-container{
     margin-left: 0; 
     width: 100%;
     padding:2rem;
     display: block;
    
    } 
        
thead th{
    display: none;
}
    .tableList, .tableList tbody, .tableList tr{

        width: 100%;
            
       
        
    }


    tbody td{
        display: block;
        padding: 50% ;
        max-width: 60rem;
        position: relative;
        max-width: 40rem;
        font-size: 2rem;
        text-transform: capitalize;
        text-align: right;
        
       
    }
    .tableList tr{
        margin-bottom: 1.5rem;
        /* border-bottom: 4px solid #68020F; */
    }
    tbody td::before{
        content: attr(data-cell) ": ";
        position: absolute;
        left: 0;
        font-weight: bold;
        padding-left:1.5rem ;
        font-size: 1.5rem;

    }
}